<?xml version="1.0" encoding="UTF8" ?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2021-2021. All rights reserved.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.dao.TeacherMapper">

    <!--按照查询嵌套处理，像子查询-->
    <select id="getTeacher" resultMap="TeacherStudent">
        select * from teacher where id = #{tid}
    </select>
    <resultMap id="TeacherStudent" type="Teacher">
<!--        因为下面的集合也是使用了同一列，所以不显式说明的话就只会赋值给下面的集合了，这里的id就会变为0-->
        <result property="id" column="id"></result>
<!--        <result property="name" column="name"></result>-->
        <collection property="students" column="id" javaType="ArrayList" ofType="Student" select="getStudent"></collection>
    </resultMap>
    <select id="getStudent" resultType="Student">
        select * from student where tid = #{id}
    </select>

    <!--按照结果嵌套处理，像联表查询-->
    <select id="getTeacher2" resultMap="TeacherStudent2">
        select t.id tid, t.name tname, s.id sid, s.name sname
        from teacher t, student s
        where t.id = s.tid and t.id = #{tid}
    </select>
    <resultMap id="TeacherStudent2" type="Teacher">
        <result property="id" column="tid"></result>
        <result property="name" column="tname"></result>
        <collection property="students" ofType="Student">
            <result property="id" column="sid"></result>
            <result property="name" column="sname"></result>
            <result property="tid" column="tid"></result>
        </collection>
    </resultMap>
</mapper>